<body>
<h2 class="ui">PRODUCTS</h2>
<!-- {{name}} -->

<div class="container">
  <div class="products1-card">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>iphone7</mat-card-title>
        <mat-card-subtitle>smartphones</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://dummyjson.com/image/i/products/1/1.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>iphone</p>
      </mat-card-content>
      <div>
        <mat-card-actions class="uii">
          <button mat-button class="likebt">LIKE</button>
          <button mat-button class="sharebt">SHARE</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>

  <div class="products2-card">
    <mat-card class="product1-card">
      <mat-card-header>
        <mat-card-title>Inifinx</mat-card-title>
        <mat-card-subtitle>Laptop</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://dummyjson.com/image/i/products/9/4.jpg"
        alt="Photo of a 8"
      />
      <mat-card-content>
        <p>INFINIX</p>
      </mat-card-content>
      <div>
        <mat-card-actions class="uii">
          <button mat-button class="likebt">LIKE</button>
          <button mat-button class="sharebt">SHARE</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>

  <div class="products3-card">
    <mat-card class="product2-card">
      <mat-card-header>
        <mat-card-title>Microsoft surface 4</mat-card-title>
        <mat-card-subtitle>Laptop</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://dummyjson.com/image/i/products/8/3.jpg"
        alt="Photo of a ms"
      />
      <mat-card-content>
        <p>SURFACE-4</p>
      </mat-card-content>
      <div>
        <mat-card-actions class="uii">
          <button mat-button class="likebt">LIKE</button>
          <button mat-button class="sharebt">SHARE</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
</body>
